<template>
  <div class="contact-header d-flex align-items-center">
    <div class="h4 recipient" style="width: 100%; margin-right: .5rem;">  
      {{ subject }}
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'ChatHeader',
  computed: {
    subject(): string {
      return this.$store.state.chat.ticket ?
       this.$store.state.chat.ticket.subject : '';
    },
  },
});
</script>

<style scoped>
.contact-header {
  color: black;
  width: 100%;
  height: 50px;
  background: rgba(247, 249, 250, 1);
  box-shadow: 0 10px 6px -6px #ccc;
  z-index: 1;
}

.recipient {
  margin-left: .5rem ; 
  margin-bottom: 0px !important;
  font-family: 'Quicksand Bold', sans-serif;
}
</style>
