<template>
  <div class="msg_history d-flex flex-column-reverse">
    <ChatMessage
      v-for="(msg, index) in messages"
      v-bind:key="index"
      v-bind:msg="msg"
    />
  </div>
</template>

<script lang="ts">
import { IMessage } from "@/models";
import Vue from "vue";
import ChatMessage from "./ChatMessage.vue";

export default Vue.extend({
  name: "ChatMessageList",
  components: {
    ChatMessage,
  },
  computed: {
    messages(): IMessage[] {
      return this.$store.state.chat.messages;
    },
  },
});
</script>

<style scoped>
.msg_history {
  height: 100%;
  overflow-y: auto;
  background: #f7f9fa;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
</style>
