<template>
  <div class="d-flex flex-column" style="height: 100vh;">
    <div class="d-flex" id="wrapper">
     <!-- <Sidebar /> -->
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <Navbar />
        <div class="home-container">
          <div class="main-view-container">
            <router-view></router-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Sidebar from "@/components/Sidebar.vue";
import Navbar from "@/components/Navbar.vue";
import { WebSocket, accounts } from '@/api';

export default Vue.extend({
  name: "Home",
  components: {
    // Sidebar,
    Navbar,
  },
  created() {
    const user = accounts.getUser();
    this.$store.commit('chat/SET_USER_ID', user.id);

    accounts.getUserToken().then((resp) => {
      WebSocket.setToken(resp.token);
      WebSocket.getSocket().connect();
    });    
  }
});
</script>
<style lang="scss">
body {
  overflow-x: hidden;
}

#page-content-wrapper {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}

.home-container {
  border: none;
  flex-grow: 1;
  height: calc(100% - 48px);
  width: 100%;
}

.main-view-container {
  height: 100%;
  overflow-y: auto;
}

#wrapper {
  height: 100%;
}

.search-button:hover {
  background: #ea5791 !important;
}
</style>
