<template>
  <div class="bg-purple" id="sidebar-wrapper">
    <div class="sidebar-heading"></div>
    <div class="list-group list-group-flush">
      <router-link
        :to="{ name: ROUTE_DASHBOARD }"
        class="list-group-item list-group-item-action bg-purple menu-font-text"
        v-bind:class="{ 'link-disabled': current_route === ROUTE_DASHBOARD }"
        style="display: none"
      >
        <font-awesome-icon icon="home" />Home
      </router-link>

      <router-link
        :to="{ name: ROUTE_DASHBOARD }"
        class="list-group-item list-group-item-action bg-purple menu-font-text"
        v-bind:class="{ 'link-disabled': current_route === ROUTE_DASHBOARD }"
        style="display: none"
      >
        <font-awesome-icon icon="cog" style="margin-right: 9px;" />Settings
      </router-link>

      <router-link
        :to="{ name: ROUTE_DASHBOARD }"
        class="list-group-item list-group-item-action bg-purple menu-font-text"
        v-bind:class="{ 'link-disabled': current_route === ROUTE_DASHBOARD }"
        style="display: none"
      >
        <font-awesome-icon icon="user" style="margin-right: 9px;" />Account
      </router-link>

      <router-link
        :to="{ name: ROUTE_API_KEYS }"
        class="list-group-item list-group-item-action bg-purple menu-font-text"
        v-bind:class="{ 'link-disabled': current_route === ROUTE_API_KEYS }"
      >
        <font-awesome-icon icon="key" style="margin-right: 9px;" />Api Keys
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { ROUTE_DASHBOARD, ROUTE_API_KEYS } from "@/router";

export default Vue.extend({
  name: "Sidebar",
  data: () => {
    return {
      ROUTE_DASHBOARD,
      ROUTE_API_KEYS,
    };
  },
  computed: {
    current_route() {
      return this.$route.name;
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#sidebar-wrapper {
  min-height: calc(100% - 52px);
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.link-disabled {
  pointer-events: none;
  cursor: default;
  color: #ff0095 !important;
}
.menu-font-text {
  color: rgba(255, 255, 255, 1);
  font-family: "Biotif Semi Bold", sans-serif;
  font-size: 1.1em;
  outline: none;
}

.menu-font-text:hover {
  color: #ff0095 !important;
}

.bg-purple {
  background-color: #29175e !important;
}
</style>
