<template>
  <div class="d-flex flex-row" style="height: 100%">
    <form
      v-on:submit.prevent="submitMessageCreation"
      class="mesgs d-flex flex-column"
    >
      <ChatHeader />
      <ChatMessageList />
      <ChatInputBox
        v-model="message_body"
        v-bind:is_disabled="message_input_lock"
      />
    </form>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Route } from "vue-router";
import toastr from "toastr";
import { ROUTE_TICKET_DETAIL } from "@/router";
import ChatInputBox from "@/components/chat/ChatInputBox.vue";
import ChatMessageList from "@/components/chat/ChatMessageList.vue";
import ChatHeader from "@/components/chat/ChatHeader.vue";
import { WebSocket, general } from "@/api";
import { GenNullTicket, IMessage, TicketStatus } from "@/models";

export default Vue.extend({
  name: "TicketDetailView",
  components: {
    ChatInputBox,
    ChatMessageList,
    ChatHeader,
  },
  data: () => {
    return {
      ticket: GenNullTicket(),
      ticket_edit: GenNullTicket(),
      ticket_edit_lock: false,
      messages: [] as IMessage[],
      message_body: "",
      message_input_lock: false,
    };
  },
  created() {
    this.updateCurrentTicketFromRoute(this.$route);
  },
  beforeRouteUpdate(to, from, next) {
    this.updateCurrentTicketFromRoute(to);
    next();
  },
  beforeDestroy() {
    this.$store.commit("chat/SET_TICKET", null);
    this.$store.commit("chat/SET_MESSAGES", []);
    WebSocket.getTicketChannel().leave();
  },
  methods: {
    updateCurrentTicketFromRoute(route: Route) {
      const ticketNumber = parseInt(route.params.ticketNumber, 10);
      const joinChannel = () => {
        if (route.name === ROUTE_TICKET_DETAIL) {
          this.message_body = "";
          // TODO: add validation
          //this.$store.dispatch('chat/SET_THREAD_BY_ID', threadId).then(() => {
          WebSocket.setTicketChannel(this.ticket.id);
          WebSocket.getTicketChannel().on("message:created", (message) => {
            this.$store.commit("chat/PUSH_LAST_MESSAGE", message);
          });
          WebSocket.getTicketChannel().join();
          //});
        }
      };

      general
        .getTicket(ticketNumber)
        .then((ticket) => {
          this.ticket = ticket;
          this.ticket_edit = Object.assign({}, ticket);
          this.$store.commit("chat/SET_TICKET", ticket);
          return general.getTicketsMessages(ticketNumber);
        })
        .then((messages) => {
          this.messages = messages;
          this.$store.commit("chat/SET_MESSAGES", messages);

          WebSocket.getTicketChannel().leave();
          if (WebSocket.getSocket().isConnected()) {
            joinChannel();
          } else {
            let timeoutRef = -1;
            timeoutRef = setTimeout(() => {
              if (WebSocket.getSocket().isConnected()) {
                joinChannel();
                clearTimeout(timeoutRef);
              }
            }, 1000);
          }
        });
    },
    submitMessageCreation() {
      const message = {
        content: this.message_body,
      };

      // TODO: handel errors and timeouts
      this.message_input_lock = true;
      WebSocket.getTicketChannel()
        .push("message:create", message)
        // eslint-disable-next-line @typescript-eslint/no-unused-vars
        .receive("ok", (msg) => {
          this.message_input_lock = false;
          this.message_body = "";
        })
        .receive("error", (reasons) => {
          console.log("create failed", reasons);
          this.message_input_lock = false;
        })
        .receive("timeout", () => {
          console.log("Networking issue...");
          this.message_input_lock = false;
        });
    },
  },
});
</script>

<style lang="scss">
.mesgs {
  border: 1px solid #ccc !important;
  height: 100%;
  width: 100%;
}
</style>